<% if current_user.has_role?(:teacher) || current_user.has_role?(:admin) %>
<p>
  <%= link_to "Retour administration de la classe", admin_context_path(@student.current_classroom) %>
</p>
<% end %>

<h1>Bilan de <%= @student.name %></h1>

<table class="table table-striped" id="sortTable">
  <thead>
    <tr>
      <th class="blue header">Compétences</th>
      <th class=" header" colspan="4">Elève</th>
        <th class="header"></th>
      <th class=" header" colspan="4">prof</th>
    </tr>
  </thead>
  <tbody>
    <% @competences.each do |competence| %>
    
    <% if current_user.has_role?(:teacher) || current_user.has_role?(:admin) %>
      <% path = bilan_path(competence.contexts_by_classroom(@student.current_classroom).first, :eleve => @student) %>
    <% else %>
      <% path = bilan_path(competence.contexts_by_classroom(@student.current_classroom).first) %>
    <% end %>
                  
    <% bilan = competence.bilan(@student) %>
     <tr>
       <td><%= link_to competence.name, path %></td>
       <td><span class="badge"><%= bilan[:student][0] %></span> </td>
       <td> <span class="badge badge-success"><%= bilan[:student][3] %></span>   </td>
       <td> <span class="badge badge-warning"><%= bilan[:student][2] %></span>   </td>
       <td>  <span class="badge badge-important"><%= bilan[:student][1] %></span>    </td>
       <td></td>
       <td><span class="badge"><%= bilan[:teacher][0] %></span> </td>
       <td> <span class="badge badge-success"><%= bilan[:teacher][3] %></span>   </td>
       <td> <span class="badge badge-warning"><%= bilan[:teacher][2] %></span>   </td>
       <td>  <span class="badge badge-important"><%= bilan[:teacher][1] %></span>    </td>

     </tr>
    <% end %>

  </tbody>
</table>

