<h1>Bienvenue <%= current_user.name %>!!!</h1>


<% if current_user.has_role? :teacher %>
<p>Bilan commme les étudiants mais avec des liens en plus et une banderole prof?..</p>
<% elsif current_user.has_role? :student %>




<table class="table table-striped" id="sortTable">
  <thead>
    <tr>
      <th class="blue header">Compétence</th>
      <th class=" header"></th>
      <th class=" header"></th>
      <th class=" header"></th>
      <th class=" header"></th>
    </tr>
  </thead>
  <tbody>
    <% @competences.each do |competence| %>
    
    <% bilan = competence.bilan(current_user) %>
     <tr>
       <td><%= link_to competence.name, bilan_path(competence.contexts.first) %></td>
       <td><span class="label"><%= bilan[0] %></span> </td>
       <td> <span class="label success"><%= bilan[1] %></span>   </td>
       <td> <span class="label warning"><%= bilan[2] %></span>   </td>
       <td>  <span class="label important"><%= bilan[3] %></span>    </td>

     </tr>
    <% end %>

  </tbody>
</table>



<% else %>
 Ne devrait pas s'afficher.. ? (bilan#index pour pour une personne non connectée..)
<% end %>