<p><%= link_to "Retour au bilan", bilan_index_path %></p>
  
<p>Contexte actif <%= @context.name %></p>
<p>Note élève : <%= @note.note_eleve %></p>
<%= form_for(@note, :url => bilan_path(@context)) do |f|%>
<p>
  <%= f.label :note_eleve, "Note élève" %> 
  <%= f.text_field :note_eleve, :size => 2 %>
  <%= submit_tag("Mettre à jour") %>
</p>
<% end %>
<p>Note prof : <%= @note.note_prof %></p>
<p>Commentaire élève : <%= @note.comment %></p>

<p>Compétence <%= @context.competence.name %> </p>
<p>liste des contextes</p>
<ul class="pills">
     <% @contexts.each do |context| %>
      <li <% if @context == context%> class="active"<%	 end %> >
        <%= link_to context.name, bilan_path(context) %>
      </li>
     <% end %>
</ul>
  
