<% if current_user.has_role?(:teacher) || current_user.has_role?(:admin) %>
<p>
  <%= link_to "Retour au bilan de l'élève", bilan_index_path(:eleve => @student) %> |
  <%= link_to "Retour administration de la classe", admin_context_path(@context) %>
</p>
<% else %>
<p><%= link_to "Retour au bilan", bilan_index_path %></p>
<% end %>


<div class="page-header">
  <h1><%= @competence.name %> </h1>
  <h1><small>Ajouter ici competence.description</small></h1>
</div>

<div class="row">
  <div class="span7">
    <h3>Capacités</h3>
        <ol>
          <% @competence.capacities.each do |capacity| %>
          <li><%= capacity.name %></li>    
          <% end %>
        </ol>
  </div>
  <div class="span5">
    <div>
      <a href="/files/<%= @competence.file %>">détails de la compétence</a>
    </div>
  </div>

</div>


<div class="row">
  <div class="span12">
    <ul class="nav nav-pills">
       <% @contexts.each do |context|  %>
        <li 
        <% if  @context == context %>
          class="active"
        <% elsif context.note_eleve(@student).note_eleve == 0  %>  
          class="unevaluated"
        <% elsif context.note_eleve(@student).note_eleve == 3  %>  
          class="good"
        <% elsif context.note_eleve(@student).note_eleve == 2  %>  
          class="average"
        <% elsif context.note_eleve(@student).note_eleve == 1  %>  
          class="need-work"
        <% end %>
        >  
          
<% if current_user.has_role?(:teacher) || current_user.has_role?(:admin) %>
  <% path = bilan_path(context, :eleve => @student) %>
<% else %>
  <% path = bilan_path(context) %>
<% end %>
          <%= link_to context.name, path %>
        </li>
       <% end %>
    </ul>
  </div>
</div>  
  
<div class="row">

  <div class="span6">

    
  <% if can? :update_student_note, @note %>
    <%= simple_form_for(@note, :html => {:class => 'form-horizontal' }, :url => bilan_path(@context)) do |f|%>
    <p>
      <%= f.input :note_eleve, 
      :collection => [["0", "Sans évaluation"], ["1", "A revoir"], ["2", "Moyen"], ["3", "Bon"]], 
      :label_method => :last, 
      :value_method => :first,
      :label => "Votre auto-évaluation",
      :as => :radio %>
      <%= f.input :commentaire_eleve, :label => "Votre commentaire", :input_html => { :rows => 3 } %>
      <%= submit_tag("Mettre à jour") %>
    </p>
    <% end %>
  <% else %>  
    <p>
      <b>Elève:</b>
      <%= @student.name %>
    </p>
      <p>Note : <%= @note.note_eleve_text %></p>
      <p>Commentaire : <%= @note.commentaire_eleve %></p>

  <% end %>
  </div>
  <div class="span6">
    <div>
      
      <% if can? :update_teacher_note, @note %>
      
       <%= simple_form_for(@note, :url => bilan_path(@context, :eleve => @student)) do |f|%>
       <p>
       <%= f.input :note_prof,
       :collection => [["0", "Sans évaluation"], ["1", "A revoir"], ["2", "Moyen"], ["3", "Bon"]], 
       :label_method => :last, 
       :value_method => :first,
       :label => "Evaluation de l'enseignant",
       :as => :radio %>
       <%= f.input :commentaire_prof, :label => "Commentaire de l'enseignant", :input_html => { :rows => 3 }  %>
       <%= submit_tag("Mettre à jour") %>
      </p>
      <% end %>
      <% else %>
      
      <p>
        <b>Enseignant:</b>
        <%= @context.teacher.try(:name) %>
      </p>
      
        <p>Evaluation: <%= @note.note_prof_text %></p>
        <p>Commentaire: <%= @note.commentaire_prof %></p>
      
    <%  end %>
    </div>
  </div>




</div>

  
