
<%  if (@note.student_id == current_user.id) %>
  <p>Vous êtes l'élève <%= current_user.name %></p>
  <p><%= link_to "Retour au bilan", bilan_index_path %></p>
<%  end %>

<%  if (@context.teacher_id == current_user.id) %>
  <p>Vous êtes l'enseignant du contexte </p>
  <p>
    <%= link_to "Retour au bilan de l'élève", bilan_index_path(:student => @note.student_id) %> |
    <%= link_to "Retour administration de la classe", admin_classroom_path(@note.student.current_classroom) %>
  </p>
<%  end %>

<%  if ((@context.teacher_id != current_user.id) && (current_user.has_role?(:teacher)||current_user.has_role?(:admin))) %>
  <p>Vous êtes un autre enseignant </p>
  <p>
    <%= link_to "Retour au bilan de l'élève", bilan_index_path(:student => @note.student_id) %> |
    <%= link_to "Retour administration de la classe", admin_classroom_path(@note.student.current_classroom) %>
  </p>
<% end %>
<% if params[:student] %>
  <% user = User.find(params[:student]) %>
  <% good_path=bilan_path(@context, :student => user.id) %>
<% else %>
  <% user = current_user  %>
  <% good_path=bilan_path(@context) %>
<% end %>



<div class="page-header">
  <h1><%= @competence.name %> </h1>
  <h1><small>Ajouter ici competence.description</small></h1>
</div>

<div class="row">
  <div class="span11">
    <h3>Capacités</h3>
        <ol>
          <% @competence.capacities.each do |capacity| %>
          <li><%= capacity.name %></li>    
          <% end %>
        </ol>
  </div>
  <div class="span5">
    <div>
      <a href="/files/<%= @competence.file %>">détails de la compétence</a>
    </div>
  </div>
</div>

<ul class="pills">
   <% @contexts.each do |context|  %>
    <li <% if @context == context%> class="active"<%	 end %> >
      <% params[:student] ? path=bilan_path(context, :student => user.id) : path=bilan_path(context) %>
      <%= link_to context.name, path %>
    </li>
   <% end %>
</ul>



<% if (current_user.has_role?(:teacher)||current_user.has_role?(:admin)) %>

  <p>Note élève : <%= @note.note_eleve %></p>
  <p>Commentaire élève : <%= @note.commentaire_eleve %></p>

  <p>Note enseignant : <%= @note.note_prof %></p>
  
    <%= form_for(@note, :url => good_path) do |f|%>
  <p>
  <%= f.label :note_prof, "Note enseignant" %> 
  <%= f.text_field :note_prof %>
  <%= f.label :commmentaire_prof, "Commentaire enseignant" %> 
  <%= f.text_area :commentaire_prof %>
  <%= submit_tag("Mettre à jour") %>
 </p>
 <% end %>


<% else %>

  <p>Note prof : <%= @note.note_prof %></p>
  <p>Commentaire prof : <%= @note.commentaire_prof %></p>

  <p>Note elève : <%= @note.note_eleve %></p>
  <%= form_for(@note, :url => good_path) do |f|%>
  <p>
    <%= f.label :note_eleve, "Note élève" %> 
    <%= f.text_field :note_eleve %>
    <%= f.label :commmentaire_eleve, "Commentaire élève" %> 
    <%= f.text_area :commentaire_eleve %>
    <%= submit_tag("Mettre à jour") %>
  </p>
  <% end %>
<% end %>


  
