
<% if current_user.has_role?("teacher") %>
<h2>Tableau de bord enseignant</h2>

<ul>
  <li><%= link_to 'Voir mes contextes', admin_contexts_path %></li>
  <li><%= link_to 'Voir les classes', admin_classrooms_path %></li>
  <li><%= link_to 'Ajouter un contexte', new_admin_context_path %></li>
</ul>  
<% end %>


<% if current_user.has_role?("admin") %>
<h2>Administration</h2>
<ul>
  <li><%= link_to 'Ajouter une classe', new_admin_classroom_path %></li>
  <li><%= link_to 'Ajouter une compétence' %></li>
  <li><%= link_to 'Ajouter un prof' %></li>
  <li><%= link_to 'Ajouter un élève' %></li>
</ul>
<% end %>