<h1>Administration</h1>
<p>Pour les profs</p>
<ul>
  <li><%= link_to 'Administration des contextes' , admin_contexts_path %></li>
  <li><%= link_to 'Voir mes contextes' %></li>
  <li><%= link_to 'Gestion notes de classe' %></li>
  <li><%= link_to 'Voir les classes', admin_classrooms_path %></li>
</ul>  


<p>Pour l'administrateur</p>
<ul>
  <li><%= link_to 'Ajouter une classe' %></li>
  <li><%= link_to 'Ajouter une compétence' %></li>
  <li><%= link_to 'Ajouter un prof' %></li>
  <li><%= link_to 'Ajouter un élève' %></li>
</ul>