<p>
  <b>Nom:</b>
  <%= @context.name %>
</p>

<p>
  <b>Classe:</b>
  <%= @context.classroom.name %>
</p>

<p>
  <b>Enseignant:</b>
  <%= @context.teacher.name %>
</p>

<p>
  <b>Compétence     :</b>
  <%= @context.competence.name %>
</p>
<ul>
  <% @context.competence.capacities.each do |capacity| %>
    <li><%= capacity.name %></li>
  <% end %>
</ul>

<p>


  <% if can? :update_teacher_note, @context %>  
  
  <%= form_tag( update_individual_notes_admin_context_path(@context), {:method => :put} ) do %>
  <table class="table table-striped table-bordered">
     <tr>
       <th>Nom</th>
       <th>Note élève</th>
       <th>commentaire élève</th>
       <th>Note enseignant</th>
       <th>Commentaire enseignant</th>
     </tr>
     
    <% for note in @notes %>
      <%= fields_for "notes[]", note do |f| %>  
      <tr>
        <td><%= link_to note.student.name, bilan_path(note.context, :eleve => note.student) %></td>
        <td><%=h note.note_eleve %></td>
        <td><%=h note.commentaire_eleve %></td>
        <td><%= f.text_field :note_prof %></td>
        <td><%= f.text_field :commentaire_prof %></td>
      </tr>

      <% end %>
    <% end %>
  </table>
  <p><%= submit_tag "Mettre à jour les notes" %></p>
  <% end %>
  
  <% else %>
  
  <table class="table table-striped table-bordered">
     <tr>
       <th>Nom</th>
       <th>Note élève</th>
       <th>commentaire élève</th>
       <th>Note enseignant</th>
       <th>Commentaire enseignant</th>
     </tr>
      <% for note in @notes %>
      <tr>
        <td><%= link_to note.student.name, bilan_path(@context, :eleve => note.student_id) %></td>
        <td><%=h note.note_eleve %></td>
        <td><%=h note.commentaire_eleve %></td>
        <td><%=h note.note_prof %></td>
        <td><%=h note.commentaire_prof %></td>
      </tr>
        <% end %>

  </table>
  
  
  <% end %>  

   
 
</p>


<% if can? :update, @context %>
  <%= link_to 'Editer le contexte', edit_admin_context_path(@context) %> |
<% end %>
<%= link_to "Retour à la liste des contextes", admin_contexts_path %>