<p>
  <b>Nom:</b>
  <%= @context.name %>
</p>

<p>
  <b>Classe:</b>
  <%= @context.classroom.name %>
</p>

<p>
  <b>Enseignant:</b>
  <%= @context.teacher.name %>
</p>

<p>
  <b>Compétence:</b>
  <%= @context.competence.name %>
</p>

<p>
  <b>Elèves:</b>
  
  
  <%= form_tag( update_individual_notes_admin_context_path(@context), {:method => :put} ) do %>
  <table>
     <tr>
       <th>Nom</th>
       <th>Note élève</th>
       <th>commentaire élève</th>
       <th>Note enseignant</th>
       <th>Commentaire enseignant</th>
     </tr>
     
    <% for note in @notes %>
      <%= fields_for "notes[]", note do |f| %>  
      <tr>
        <td><%=h note.student.name %></td>
        <td><%=h note.note_eleve %></td>
        <td><%=h note.commentaire_eleve %></td>
        <td><%= f.text_field :note_prof %></td>
        <td><%= f.text_field :commentaire_prof %></td>
      </tr>

      <% end %>
    <% end %>
  </table>
  <p><%= submit_tag "Mettre à jour les notes" %></p>
  <% end %>
  
    

   
 
</p>


<% if can? :update, @context %>
  <%= link_to 'Editer le contexte', edit_admin_context_path(@context) %> |
<% end %>
<%= link_to "Retour à l'administration", admin_contexts_path %>