<h1>Liste des classes</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Nombre d'élèves</th>
    
<% if current_user.has_role?("admin") %>
    <th></th>
    <th></th>
<% end %>
  </tr>

<% @classes.each do |classe| %>
  <tr>
    <td><%= link_to classe.name, admin_classroom_path(classe) %></td>
    <td><%= classe.students.count %></td>
    <td>
    <% if can? :update, classe %>
      <%= link_to 'Edit', edit_admin_classroom_path(classe) %>
    <% end %>
    </td>
    <td>
    <% if can? :destroy, classe %>
      <%= link_to 'Destroy', admin_classroom_path(classe), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />


<% if can? :create, Classroom %>
  <%= link_to 'Ajouter une classe', new_admin_classroom_path %> | 
<% end %>
<%= link_to "Retour à l'administration", admin_path %>