<p>
  <b>Nom:</b>
  <%= @classe.name %>
</p>

<p>
  <b>Contextes:</b>
  <ul>
  <% @classe.contexts.each do |context| %>
    <li><%= link_to context.name, admin_context_path(context) %></li>
  <% end %>
  </ul>
</p>

<p>
  <b>Elèves:</b>
  <ul>
  <% @classe.students.each do |student| %>
    <li><%= link_to student.name, admin_student_path(student) %></li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_admin_classroom_path(@classe) %> |
<%= link_to 'Back', admin_classrooms_path %>