<p>
  <b>Nom:</b>
  <%= @classe.name %>
</p>


<p>
  <b>Elèves:</b>
  <ul>
  <% @classe.students.each do |student| %>
    <li><%= link_to student.name, bilan_index_path(:student => student.id) %></li>
  <% end %>
  </ul>
</p>


<p>
  <b>Compétences:</b>
  <ul>
  <% @classe.competences.each do |competence| %>
    <li><%= link_to competence.name, admin_competence_path(competence) %></li>
    
    <ul>
    <% competence.contexts_by_classroom(@classe).each do |context| %>
      <li><%= link_to context.name, admin_context_path(context) %> <%= context.teacher==current_user ? "(mon contexte!!!)" : "" %></li>
    <% end %>
    </ul>
    
  <% end %>
  </ul>
</p>


<% if can? :update, @classe %>
  <%= link_to 'Modifier la classe', edit_admin_classroom_path(@classe) %> |
<% end %>
<%= link_to "Retour à l'administration", admin_classrooms_path %>