<h1>Changement de mot de passe de <%= @user.name %></h1>

<%= simple_form_for([:admin,@user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this classroom from being saved:</h2>
      <p><%= debug(params) %></p>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.input :password %><br />
    <%= f.input :password_confirmation %><br />
    <%= submit_tag("Sauver") %>
  </p>
  

<% end %>


  <%= link_to "Retour à la liste des utilisateurs", admin_users_path %> |
  <%= link_to "Retour à l'administration", admin_path %>